{
  "s3AccessKey": "",
  "s3SecretKey": "",
  "s3Region": "",
  "bucket": "",
  "parallelStreams": 3,
  "mysqlHost": "",
  "mysqlPort": "",
  "mysqlUser": "",
  "mysqlPassword": "",
  "mysqlDb": "",
  "mysqlTable": "",
  "apiEndpoint": ""
}